<meta charset="UTF-8">

<p>
I will buy 60.6kg of apples.
I will return 8 kg of them.
Then I have 52,6 kg of apples.
An extension of my fruit business.
</p>

<p>
30 cm per cucumber times 20 cucumbers equals 6m.
</p>

<p>
  Some tabs: 1	kg of tabs, 2		g of tabs.
</p>

<p>
  Should not be changed: 2 great smoothies, 1 mighty sword, 5 green frogs
</p>

<p>
  In the city I drive 50 km/h, on the pathway I drive 5 km/h. Walking speed is 1m/s.
</p>


